.dark-purple-bg {
  background-color: #2d033b !important;
}

.light-blue-bg {
  background-color: #add8c7;
}

.light-purple-bg {
  background-color: #e5b8f4;
}

.light-blue-text {
  color: #add8c7;
}

.light-purple-text {
  color: #e5b8f4;
}
