@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto Slab", serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1c1d1f;
}

a.title {
  display: inline-block;
  text-decoration: none !important;
}

a.title div {
  transition: 0.5s;
}

a.title:hover div {
  filter: saturate(150%) brightness(120%);
  transition: 0.5s;
}

@media screen and (min-width: 1025px) {
  .gallery-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .images {
    display: flex;
  }

  .image-item {
    width: 150px;
    height: 400px;
    background-image: url("./burgmid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 1rem;
  }

  h2.gallery {
    opacity: 0;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 50%;
    font-size: 1.1rem;
    transition: all 0.4s;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1024px) {
  .gallery-container,
  .images,
  .image-item,
  h2.gallery {
    display: none;
  }
}

.image-item:nth-child(2) {
  background-image: url("./burg1.jpg");
}

.image-item:nth-child(3) {
  background-image: url("./burg2.jpg");
}

.image-item:nth-child(4) {
  background-image: url("./burg3.jpg");
}

.image-item:nth-child(5) {
  background-image: url("./burg4.jpg");
}

.image-item:hover {
  width: 300px;
  height: 400px;
}

.image-item:hover h2 {
  position: absolute;
  bottom: 2px;
  left: 50%;
  opacity: 1;
  z-index: 2;
  transition: all 0.4s;
  transform: translate(-50%, -50%);
}

.image-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-radius: 20px;
  transition: all 0.4s;
  background-image: linear-gradient(0deg, #e65b00, rgb(255 255 255 / 0%));
}

.ccontainer {
  display: flex;
  justify-content: center;
  background-color: #6c4e75;
}

.search {
  min-width: 25%;
  margin: 1rem 0;

  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  background: #c4b0ca;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  min-width: 25%;
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  outline: none;
  color: #2d033b;
  background: #c0b3c4;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
